#conteiner {
    width: 1300px;
    margin: 0 auto;
}

body {
    background: linear-gradient(0deg, #73fa7a 0%, #8ff8ff 100%);

}


#left {
    width: 600px;
    float: left;
    min-height: 1000px;
    margin-right: 20px;

}

#right {
    width: 750px;
    min-height: 1000px;
    margin-left: 50%;

}

ol {
    list-style-type: none;

}

h1 {
    margin: auto 0;
}

html {
    background: #f0f0f0;
}

.menu {
    padding: 5px;
    width: 220px;
    background: #fff;

}

.menu ul {
    position: relative;
    list-style: none;

}

.menu li {
    list-style: none;

}

.menu li:before {
    width: 4px;
    content: '\f0fe';
    font-family: FontAwesome;
    color: rgb(8, 0, 255);
    margin-right: 10px;
    height: 14px;
    width: 15px;
    left: 20px;
    position: absolute;
}


.menu li a {
    color: rgb(0, 64, 255);

}

.menu li a:hover {
    color: #000dff;

}


.menu li ol {
    margin-bottom: 12px;

}

.menu ol li:hover li {
    display: block;

}

.menu > ol > li:hover:before {
    content: '\f146';
    background-position: -10px -10px;
    left: 20px;
    margin-left: 0px;

}

.menu li li:before {
    content: '\f192';
    background-position: -10px -10px;
    left: 20px;
    margin-left: -20px;

}

.menu li li {
    margin-left: -20px;
    display: none;

}